.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url('../images/students-hero.jpg') center/cover no-repeat;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 12px;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero-btn {
  background: #222;
  color: white;
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}




.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

/*
  The @media are added later to make the 
  website responsive
  The .gallery is for full desktop
  the @media max width 768 tablet
  the @media max width 480 mobile phone

*/
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}



.image-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}

.image-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
}
